  <h3>Todo number:<%= params[:id] %></h3>
   <input type="checkbox">
  <h2><%= @todo.description %></h2>
<span class="pomodoro-estimate"><%= @todo.pomodoro_estimate %> Pomodoros</span>
   <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
   <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>   
   <a href="/">Go back...</a>